<div class="navbar navbar-fluid-top">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a class="brand" href="/">HackerTweets</a>
		<div class="container-fluid nav-collapse">
			<ul class="nav">
				<li><%= link_to "About", about_path %></li>
			</ul>
		</div>
	</div>
</div>
</div>